@namespace Solster.AspNetCore.Components.Tests.Components

<style>h1 { color: red; }</style>
<h1>@Model.Title</h1>

@code {
    [Parameter, EditorRequired]
    public required CssModel Model { get; set; }
}
